services:
  postgres:
    container_name: postgres
    image: postgres:17-alpine3.19
    restart: unless-stopped
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - ../2. Init Database:/docker-entrypoint-initdb.d
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

    logging:
      #limit logs to 200MB (4 rotations of 50M each)
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

  interview-dude:
    image: vaskocuturilo/interview-dude:latest
    container_name: interview-dude
    hostname: interview-dude
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

      BOT_NAME: ${BOT_NAME}
      BOT_API_KEY: ${BOT_API_KEY}
      DONATE_LINK: ${DONATE_LINK}
      BOT_FILE_NAME: classpath:questions.json
      SPRING_PROFILES_ACTIVE: docker
      LOG_PATH: /usr/app/logs/application.log

    volumes:
      - ./src/main/resources/questions.json:/usr/app/resources/questions.json
      - logs:/usr/app/logs
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"
    deploy:
      resources:
        limits:
          cpus: "0.75"
          memory: 100M
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - app-network

    depends_on:
      - postgres

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - app-network

    depends_on:
      - interview-dude

  loki:
    image: grafana/loki:2.9.3
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on:
      - interview-dude

  promtail:
    image: grafana/promtail:2.9.3
    container_name: promtail
    volumes:
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
      - logs:/app/logs
    command: -config.file=/etc/promtail/promtail-config.yaml
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on:
      - interview-dude

  redis:
    image: redis:7.2
    container_name: redis
    ports:
      - "6379:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "4"

    networks:
      - app-network

    depends_on:
      - postgres

  redis-insight:
    image: redis/redisinsight:latest
    restart: always
    ports:
      - "5540:5540"

    networks:
      - app-network

    volumes:
      - redis-insight:/data

    depends_on:
      - redis

  watchtower:
    image: nickfedor/watchtower
    container_name: watchtower
    command:
      - "--debug"
      - "--interval=300"
      - "--include-stopped"
      - "--revive-stopped"
      - "--label-enable"
      - "--cleanup"
      - "--remove-volumes"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "2"

    networks:
      - app-network

    depends_on:
      - interview-dude

networks:
  app-network:

volumes:
  grafana-data:
  redis-insight:
  postgres-data:
  logs: