name: CI - PR Validation
on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 24
        uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: adopt
          cache: maven

      - name: Build and run Unit/Integration Tests with Maven
        run: mvn -ntp -B package